# Ignore everything
*

# But not these files...
!.gitignore
!README
!mimeapps.list
# google-chrome
# etc...
!.gitmodules
!cmus
!fish
!fish
!foot
!neofetch
!nvim
!qutebrowser
!renode
!river
!sway
!wallpapers  


!cmus /**
!fish/**
!foot/**
!neofetch/**
# !nvim/**
!renode/**
!river/**
!sway/**
# !wallpapers/**
!qutebrowser/**

